<div class="container">
    <form (ngSubmit)="onSubmit($event)">
      <div class="form-container">
        <mat-form-field>
          <input matInput type="text"  placeholder="Username" autocomplete="off">
          <mat-icon matSuffix>account_box</mat-icon>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" autocomplete="off">
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
        <button mat-raised-button color="primary">Login</button>
      </div>
    </form>
  </div>
