<app-layout>
  <app-layout-header>
    <ng-container *ngTemplateOutlet="header"></ng-container>
  </app-layout-header>
  <app-layout-nav>
    <ng-container *ngTemplateOutlet="nav"></ng-container>
  </app-layout-nav>
  <app-layout-content>
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </app-layout-content>
</app-layout>

<ng-template #header>
  <ui-header></ui-header>
</ng-template>

<ng-template #nav>
  <ui-side-nav></ui-side-nav>
</ng-template>

<ng-template #content>
  <div class="container">
    <ui-pool-list-table [items]="this.pools"></ui-pool-list-table>
  </div>
</ng-template>
